*
{
margin: 0px;
padding: 0px;
}
body{
    background-color: black;
}
#fenetre
{
width:1300px;
height:800px;
background: black;
}
.vaisseau
{
height:80px;
width:80px;
background-image:url(aa.png);
background-size: 100% 100%;
position:absolute;
bottom:0px;
left:550px;
}
.mechant
{
height:80px;
width:80px;
background-image:url(me.jpg);
background-size: 100% 100%;
position:relative;
display: block;
}
.laser
{
height:10px;
width:10px;
background-color: beige;
position:absolute;
display: block;
}
#destructionBouton
{
display : none;
}
#boutonJouer
{
height:50px;
width: 200px;
margin-top:30%;
margin-left: 45%;
}
#mechantContainer
{
display: flex;
top: 0px;
left: 0px;
width: 800px;
height: 200px;
position: relative;
}